<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/sidebar.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/employee-signup.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav class="nav-login">
      <i class="fa-solid fa-bars"></i>
      <a href="index.html">HOME</a>
      <h2 class="h2-login">TRACKGENIX</h2>
      <a href="login.html">LOGIN</a>
    </nav>
  </header>
  <aside>
    <input type="text" placeholder="  Search">
    <button>
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <span class="menu-span">MENU</span>
    <div class="short-hr marg"></div>
    <ul>
      <li>
        <a href="">HOME</a>
      </li>
      <div class="short-hr"></div>
      <li>
        <a href="sign-up.html">SIGN UP</a>
      </li>
      <div class="short-hr"></div>
      <li>
        <a href="login.html">LOG IN</a>
      </li>
      <div class="short-hr"></div>
      <li>
        <a href="">CONTACT INFO</a>
      </li>
      <div class="short-hr marg2"></div>
    </ul>
    <span class="menu-span">GET IN TOUCH</span>
    <div class="short-hr"></div>
    <p>
      Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Lacinia quis vel eros donec ac odio
      tempor orci. Nulla porttitor massa id neque aliquam.
    </p>
    <ol>
      <li>
        <i class="fa-regular fa-envelope"></i>
        <span>trackgenix@gigatech.com</span>
      </li>
      <li>
        <i class="fa-solid fa-phone"></i>
        <span>+598 99123456</span>
      </li>
      <li>
        <i class="fa-solid fa-house"></i>
        <span>Av. Montevideo 1234, 11200</span>
      </li>
    </ol>
  </aside>

  <main class="main-sign-up">
    <form action="">
      <span class="p-sign">Register</span>
      <div>
        <label for="name">NAME</label>
        <input type="text" name="" id="">
      </div>
      <div>
        <label for="last-name">LAST NAME</label>
        <input type="text" name="" id="">
      </div>
      <div>
        <label for="id">ID</label>
        <input type="text" name="" id="">
      </div>
      <div>
        <label for="date">DATE OF BIRTH</label>
        <input type="date" name="" id="">
      </div>
      <div>
        <label for="phone">PHONE NUMBER</label>
        <input type="text" name="" id="">
      </div>
      <div>
        <label for="adress">ADRESS</label>
        <input type="text" name="" id="">
      </div>
      <div>
        <label for="localation">LOCATION</label>
        <input type="text" name="" id="">
      </div>
      <div>
        <label for="postal-code">POSTAL CODE</label>
        <input type="text" name="" id="">
      </div>
      <div>
        <label for="email">EMAIL</label>
        <input type="text" name="" id="">
      </div>
      <div>
        <label for="password">PASSWORD</label>
        <input type="password" name="" id="">
      </div>
      <div>
        <label for="password2">REPEAT PASSWORD</label>
        <input type="password" name="" id="">
      </div>
      <button class="continue">Create</button>

    </form>
  </main>

  <footer>
    <div class="footer-top">
      <div>
        <h2 class="h2-footer">TRACKGENIX</h2>
      </div>
      <div class="list-footer">
        <ol class="ol-prod">
          <div>PRODUCTS</div>
          <li>FUNCIONALITIES</li>
          <li>DOWNLOADS</li>
          <li>INTEGRATIONS</li>
          <li>ADDITIONAL FEATURES</li>
        </ol>
        <ol class="ol-bus">
          <div>BUSINESS</div>
          <li>ABOUT US</li>
          <li>CUSTOMERS</li>
          <li>RESOURCES</li>
          <li>BLOG</li>
        </ol>
        <ol class="ol-sup">
          <div>SUPPORT</div>
          <li>HELP</li>
          <li>TUTORIALS</li>
          <li>API</li>
          <li>CONTACT</li>
        </ol>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2022, TRACKGENIX</p>
      <ul>
        <li>
          <a href="" target="_blank">
            <i class="black-icons fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="black-icons fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="black-icons fa-brands fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="black-icons fa-brands fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="black-icons fa-brands fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>

</body>

</html>