<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Software Solutions ">
    <meta name="keywords" content="design, team work,contact, HTML, CSS, JavaScript">
    <meta name="author" content="Bruno Fierro">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> -->
    <!-- Creo que los 3 link de arriba cambian como se ven algunas letras. -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>Trackgenix</title>
</head>

<body>
    <header>
        <nav>
            <i class="fa-solid fa-bars"></i>
            <p>TRACKGENIX</p>
            <ul>
                <li>
                    <a href="" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
            </ul>
            <div class=""></div>
        </nav>
    </header>
    <aside>
        <input type="text" placeholder="  Search">
        <button>
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <span class="menu-span">MENU</span>
        <div class="short-hr marg"></div>
        <ul>
            <li>
                <a href="">HOME</a>
            </li>
            <div class="short-hr"></div>
            <li>
                <a href="sign-up.html">SIGN UP</a>
            </li>
            <div class="short-hr"></div>
            <li>
                <a href="login.html">LOG IN</a>
            </li>
            <div class="short-hr"></div>
            <li>
                <a href="">CONTACT INFO</a>
            </li>
            <div class="short-hr marg2"></div>
        </ul>
        <span class="menu-span">GET IN TOUCH</span>
        <div class="short-hr"></div>
        <p>
            Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Lacinia quis vel eros donec ac odio
            tempor orci. Nulla porttitor massa id neque aliquam.
        </p>
        <ol>
            <li>
                <i class="fa-regular fa-envelope"></i>
                <span>trackgenix@gigatech.com</span>
            </li>
            <li>
                <i class="fa-solid fa-phone"></i>
                <span>+598 99123456</span>
            </li>
            <li>
                <i class="fa-solid fa-house"></i>
                <span>Av. Montevideo 1234, 11200</span>
            </li>
        </ol>
    </aside>
    <main>
        <section class="section-home">
            <img class="img-working" src="../assets/working.png" alt="working">
            <article class="art-home">
                <h1>TRACKGENIX</h1>
                <p class="p-inicio">
                    Et reprehenderit velit est saepe maiores aut saepe porro vel tenetur rerum ut beatae exercitationem
                    ab
                    animi accusamus voluptas dolor? Est atque quaerat voluptatem quidem quo aliquam sunt. At nulla
                    laborum
                    est optio aliquam in dolores nihil.
                </p>
                <button class="learnmore">Learn More</button>
            </article>
        </section>
        <section>
            <h2 class="h2-func">FUNCIONALITIES</h2>
            <article class="article-functionalities">
                <div class="no-reverse">
                    <img class="img-func" src="../assets/clock.png" alt="clock">
                    <p>
                        <span class="bold">Time tracking tool</span>: Vel eaque totam accusamus aspernatur ut iste
                        internos et recusandae modi quo reiciendis exercitationem.
                    </p>
                </div>
                <div class="row-reverse">
                    <img class="img-func report" src="../assets/report.png" alt="report">
                    <p>
                        <span class="bold">Reports:</span> Ad ratione corrupti est optio saepe qui repudiandae quod sed
                        molestiae asperiores non suscipit temporibus ab consectetur explicabo!
                    </p>
                </div>
                <div class="no-reverse">
                    <img class="img-func roles" src="../assets/multiple-roles.png" alt="multiple roles">
                    <p>
                        <span class="bold">Multiple roles</span> Ad ratione corrupti est optio saepe qui repudiandae
                        quod
                        sed molestiae asperiores.
                    </p>
                </div>
                <div class="row-reverse">
                    <img class="img-func management" src="../assets/resource-management.png" alt="resource management">
                    <p>
                        <span class="bold">Resource management</span> Ad ratione corrupti est optio saepe qui
                        repudiandae quod sed molestiae asperiores.
                    </p>
                </div>
            </article>
        </section>
        <section class="why-use">
            <img class="woman-working" src="../assets/woman-working.png" alt="woman working">
            <h2 class="h2-trackgenix">WHY USE <span>TRACKGENIX?</span></h2>
            <div class="why-trackgenix-hr"></div>
            <div class="why-trackgenix">
                <img class="man-running" src="../assets/man-running.png" alt="man running">
                <p class="p-running">
                    <span class="bold">Productivity booster</span> Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum
                </p>
                <div class="row-reverse row-r-d">
                    <img class="work-traceability" src="../assets/work-traceability.png" alt="work traceability">
                    <p class="p-work">
                        <span class="bold">Work traceability</span> Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum
                    </p>
                </div>
                <img class="man-representing" src="../assets/man-representing-leadership-and-team-management.png"
                    alt="man-representing-leadership-and-team-management">
                <p class="p-representing">
                    <span class="bold">Leadership and team management</span> Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum
                </p>
                <div class="row-reverse row-r-d">
                    <img class="man-thinking" src="../assets/man-thinking-about-decisions.png"
                        alt="man thinking about decisions">
                    <p class="p-thinking">
                        <span class="bold">Decision making</span> Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum
                    </p>
                </div>
            </div>
            <div class="why-trackgenix-hr-2"></div>
            </div>
        </section>
        <section class="love-to-hear-section">
            <article class="love-left">
                <h2 class="h2-love">WE'D LOVE TO HEAR FROM YOU!</h2>
                <div class="emojis">
                    <img class="message messages" src="../assets/message.png" alt="message">
                    <img class="heart" src="../assets/heart.png" alt="heart">
                    <img class="message-delivered" src="../assets/message-being-delivered.png"
                        alt="message being delivered">
                </div>
                <p>
                    qui odio maiores et velit atque quo eveniet optio est distinctio blanditiis et sint alias est sint
                    dolore. aut temporibus galisum id eaque debitis non maiores suscipit.
                </p>
                <p>
                    et vitae velit sit aspernatur dolor est voluptatem pariatur non fugiat amet et quos earum aut omnis
                    placeat.
                </p>
                <h2 class="h2-get">GET IN TOUCH</h2>
            </article>
            <div class="hr-get"></div>
            <article class="love-right">
                <form action="">
                    <label for="name">Name:</label>
                    <input class="input-text" type="text" name="name" id="">
                    <label for="email">Email:</label>
                    <input class="input-text" type="text" name="email" id="">
                    <div>
                        <label for="area">Select an area:</label>
                        <label class="input-radio" for="Human resources">
                            <input type="radio" id="" name="area" value="Human resources">
                            Human resources
                        </label>
                        <label class="input-radio" for="Systems">
                            <input type="radio" id="" name="area" value="Systems">
                            Systems
                        </label>
                        <label class="input-radio" for="Business">
                            <input type="radio" id="" name="area" value="Business">
                            Business
                        </label>
                    </div>
                    <label class="lab" for="Message">Message:</label>
                    <textarea name="Message" id="" cols="" rows=""></textarea>
                    <button class="submit">Submit</button>
                </form>
            </article>
        </section>
        <section class="about-section">
            <h2 class="h2-about">ABOUT US</h2>
            <div class="hr-mission"></div>
            <h3 class="h3-mission">OUR MISSION</h3>
            <img class="img-hands" src="../assets/hands-together-representing-alliance.png"
                alt="hands together representing alliance">
            <p class="p-mission">
                Ad ratione corrupti est optio saepe qui repudiandae quod sed molestiae asperiores. Qui dolores
                reprehenderit est voluptates iusto ab architecto voluptatem sed cumque quis.
            </p>
            <h3 class="h3-history">OUR HISTORY</h3>
            <p class="p-history">
                Qui repudiandae quod sed molestiae asperiores. voluptatem sed cumque quis. Est excepturi neque 33 nemo
                voluptatem eos molestiae sint non suscipit consequatur quo voluptatem dolor aut voluptatem.
            </p>
            <img class="img-machines" src="../assets/different-machines.png" alt="different machines">
        </section>
    </main>
    <footer>
        <div class="footer-top">
            <div>
                <h2 class="h2-footer">TRACKGENIX</h2>
            </div>
            <div class="list-footer">
                <ol class="ol-prod">
                    <div>PRODUCTS</div>
                    <li>FUNCIONALITIES</li>
                    <li>DOWNLOADS</li>
                    <li>INTEGRATIONS</li>
                    <li>ADDITIONAL FEATURES</li>
                </ol>
                <ol class="ol-bus">
                    <div>BUSINESS</div>
                    <li>ABOUT US</li>
                    <li>CUSTOMERS</li>
                    <li>RESOURCES</li>
                    <li>BLOG</li>
                </ol>
                <ol class="ol-sup">
                    <div>SUPPORT</div>
                    <li>HELP</li>
                    <li>TUTORIALS</li>
                    <li>API</li>
                    <li>CONTACT</li>
                </ol>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2022, TRACKGENIX</p>
            <ul>
                <li>
                    <a href="" target="_blank">
                        <i class="black-icons fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="black-icons fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="black-icons fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="black-icons fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        <i class="black-icons fa-brands fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>