*{
    font-family: 'Roboto', sans-serif;
}
html{
    width: 100%;
}
.marg{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.marg2{
    margin-bottom: 55px;
}

/* 

footer{
    width: 1050px;
    height: 610px;
    background-color: #dddde5;
    padding-left: 30px;
    margin-left: 350px;
}
.hr-footer1{
    width: 980px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 25px;
    margin: 0 0 45px 5px;
}
.h2-footer{
    font-size: 32px;
    margin: 0 0 20px 18px;
}
.h3-footer{
    font-size: 16px;
    margin-left: 20px;
}
footer ol li{
    list-style: decimal;
    margin:5px 0 5px 15px;
}
.ol-prod{
    margin: -55px 0 0 530px;
}
.ol-bus{
    margin: -108px 0 0 740px;

}
.ol-sup{
    margin: -109px 0 0 880px;
}
ol div{
    font-weight: 800;
    margin-bottom: 10px;
}
footer p{
    font-size: 15px;
    margin-top: 250px;
}
.black-icons{
    color: black;
    font-size: 30px;
}
footer ul li{
    display: inline;
    margin-left: 10px;
}
footer ul{
    position: absolute;
    margin: -40px 0 0 780px ;
}
.hr-footer2{
    width: 980px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 25px;
    margin: 0 0 160px -775px;
} */