*{
    font-family: 'Roboto', sans-serif;
}
html{
    width: 100%;
}
.marg{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.marg2{
    margin-bottom: 55px;
}

