*{
    font-family: 'Roboto', sans-serif;
}

.fa-bars{
    color: white;
    font-size: 30px;
}

.fa-brands{
    color: white;
}

nav p{
    color: white;
    display: inline;
    width: 100%;
    align-self: center;
    font-weight: 400;
    font-size: 24px;
    margin-left: 20px;
}
aside{
    background-color: #373867;
    color: white;
    padding: 1.5vw  0 0 2vw;
    width: 23%;
    height: 100vh;
    top: 0;
    position: fixed;
}
nav{
    background-color: #373867;
    width: 77%;
    margin-left: 23%;
    height: 81px;
    position: fixed;
    padding-top: 20px;
    padding-left: 2%;
    z-index: 500;
}
nav div{
    border-top: 2px solid white;
    width: 96%;
    margin-top: 15px;
}
ul{
    display: inline;
    margin-left: 64%;
}
nav ul li{
    display: inline;
    margin-left: 16px;
}
aside input{
    width: 200px;
    height: 25px;
    background-color: #373867;
    font-size: 16px;
    border-radius: 5px;
    border-color: white;
}
aside button{
    background-color: #373867;
    border: 0;
    margin-bottom: 45px;
}
aside button .fa-magnifying-glass{
    font-size: 22px;
    color: rgba(255, 255, 255,0.5);
}
aside ul li{
    margin-top: 10px;
}
.marg{
    margin-bottom: 10px;
}
.short-hr{
    border-top: 1.5px solid rgba(255, 255, 255,0.10);
    width: 85%;
    margin-top: 10px;
}
.menu-span{
    font-weight: 700;
    display: block;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.marg2{
    margin-bottom: 55px;
}
aside p{
    margin: 25px 15px 50px 0px;
}
.fa-envelope, .fa-house, .fa-phone{
    font-size: 20px;
}
aside ol li:first-child{
    text-decoration: underline;
}
aside ol li span{
    margin-left: 10px;
}
aside ol li{
    margin-top: 20px;
}
h1{
    font-size: 32px;
    padding:  230px  0px 20px 370px;
}
.p-inicio{
    font-size: 20px;
    font-variant: small-caps;
    width: 840px;
    padding:  10px  60px 10px 370px;
    opacity: 0.5;    
}
.img-working{
    float: right;
    margin: 150px 50px 0 0;
    width: 474px;
    height: 460px;
}
.learnmore{
    height: 34px;
    width: 124px;
    left: 70px;
    border-radius: 5px;
    padding: 10px 24px 10px 24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);   
    background-color: white; 
    margin: 35px 1px 220px 370px;
}
button:hover{
    background-color:  #373867;
    color: white;
    text-shadow: 0 0 20px white;
}
.h2-func{
    font-size: 32px;
    padding:  0px  0px 20px 370px;
    margin-bottom: 70px;
    margin-top: 130px;
}
.img-func{
    width: 135px;
    height: auto;
    margin-left: 370px;
    position: absolute;
}
.section-functionalities p{
    font-size: 18px;
    font-variant: small-caps;
    opacity: 0.7;       
    padding:  10px  60px 10px 370px;
}
.p-time{
    margin-left: 150px;
    width: 760px;
}
.report{
    margin-top: -145px;
    margin-left: 850px;
}
.p-report{
    margin-top: -130px;
    margin-left: 625px;
    width: 780px;
}
.management{
    margin-top: 120px;
}
.p-management{
    margin-top: 120px;
    margin-left: 140px;
    width: 760px;
}
.roles{
    margin-left: 850px;
    margin-top: -145px;
}
.p-roles{
    margin-top: -130px;
    margin-left: 625px;
    width: 790px;
}
.bold{
    font-weight: 800;
}
.woman-working{
    margin-top: 230px;
    margin-left: 400px;
    width: 280px;
}
.h2-trackgenix{
    text-align: center;
    margin-top: -240px;
    margin-left: 220px;
}
.h2-trackgenix span{
    font-size: 1.6em;
}
.why-trackgenix{
    height: 82vh;
    width: 400px;
    margin-top: -270px;
    margin-left: 970px;
    border-left: 2px solid rgba(0, 0, 0, 0.5);
}
.why-trackgenix img, .why-trackgenix p{
    margin-left: 30px;
}
.why-trackgenix p{
    width: 270px;
    margin-left: 140px;
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.7);
}
.why-trackgenix img{
    width: 100px;
}
.man-running{
    margin-top: 30px;
}
.p-running{
    margin-top: -100px;
    margin-bottom: 60px;
}
.p-work{
    margin-top: -90px;
    margin-bottom: 70px;
}
.p-representing{
    margin-top: -90px;
    margin-bottom: 75px;
}
.p-thinking{
    margin-top: -95px;
    margin-bottom: 60px;
}
